name: MiTV SADA Streamer

on:
  schedule:
    - cron: '0 */5 * * *' # Har 5 ghante baad auto-restart ke liye
  workflow_dispatch:
    inputs:
      stream_url:
        description: 'M3U8 Link yahan paste karein'
        required: true
        default: ''
      stream_key:
        description: 'YouTube Stream Key yahan paste karein'
        required: true
        default: ''

jobs:
  mitv_live:
    runs-on: ubuntu-latest
    steps:
    - name: 1. Install FFmpeg
      run: |
        sudo apt-get update
        sudo apt-get install -y ffmpeg

    - name: 2. Start Live Stream (Dynamic Inputs)
      run: |
        LOGO_URL="https://i.ibb.co/fzsgPwYG/2-1.png"
        
        # Inputs ko variables mein save karna
        INPUT_URL="${{ github.event.inputs.stream_url }}"
        INPUT_KEY="${{ github.event.inputs.stream_key }}"
        
        echo "Starting MiTV Stream..."
        echo "Source: $INPUT_URL"

        # timeout 5.8h taake 6h limit se pehle safely restart ho sake
        timeout 5.8h ffmpeg -re -stream_loop -1 -user_agent "Mozilla/5.0" \
        -i "$INPUT_URL" -i "$LOGO_URL" \
        -filter_complex "[1:v]scale=200:-1[logo];[0:v][logo]overlay=10:10" \
        -c:v libx264 -preset ultrafast -b:v 2500k -maxrate 3000k -bufsize 6000k \
        -pix_fmt yuv420p -g 60 -c:a aac -b:a 128k -ar 44100 \
        -f flv "rtmp://a.rtmp.youtube.com/live2/$INPUT_KEY" || true
