name: MiTV SADA Streamer

on:
  workflow_dispatch:
    inputs:
      stream_url:
        description: 'M3U8 Link yahan paste karein'
        required: true
        default: ''

jobs:
  mitv_live:
    runs-on: ubuntu-latest
    steps:
    - name: 1. Install FFmpeg
      run: |
        sudo apt-get update
        sudo apt-get install -y ffmpeg

    - name: 2. Start Live Stream (With Logo)
      run: |
        # Logo URL set kiya gaya hai
        LOGO_URL="https://i.ibb.co/fzsgPwYG/2-1.png"

        # FFmpeg command jis mein logo filter shamil hai
        ffmpeg -re -stream_loop -1 -user_agent "Mozilla/5.0" \
        -i "${{ github.event.inputs.stream_url }}" -i "$LOGO_URL" \
        -filter_complex "[1:v]scale=200:-1[logo];[0:v][logo]overlay=10:10" \
        -c:v libx264 -preset ultrafast -b:v 2500k -maxrate 3000k -bufsize 6000k \
        -pix_fmt yuv420p -g 60 -c:a aac -b:a 128k -ar 44100 \
        -f flv "rtmp://a.rtmp.youtube.com/live2/x4xr-fr4e-57az-d095-bqbm"
